
#categoryBox {
  position: relative;
  width:100%;
  height:100%;
  overflow: hidden;
}
.cateList {
  position: absolute;
  top:0;
  left:0;
  width:64px;
  padding:18px;
  background: #fafafa;
  .cateIcon {
    display: block;
    font-size:30px;
  }
}

.cateCell {
  float: left;
  text-align: center;
  width:64px;
  margin-bottom: 16px;
  cursor: pointer;
  color: #999;

  &.active {
    color: #333;
  }

  a {
    color: #999;
    width:64px;
    transition: color .2s,background .2s;
    text-decoration: none;
    display: block;
    &:hover {
      color:#333;
    }
  }
}

.articleListBox {
  padding: 10px 20px;
  border-bottom:1px solid #ddd;
  transition: background .2s;
  cursor: pointer;
  &:hover {
    background: #fff;
  }

  a {
    text-decoration: none;
    color:#333;
  }
}

.articleListBox:last-child {
  border-bottom: none;
}

.cateContent {
  font-size:14px;
}

.cateDetailBox {
  position:absolute;
  left:100px;
  right: 0;
  top:0;
  bottom:0;
  opacity: 0;
  &.bounceInRight{
    opacity:1;
  }
  .articleTagIcon {
    color: #e1e1e1;
  }
}