
#authorInfo {
  position: relative;
  height:145px;
  width:240px;
  margin: 60px auto 0;
  #avatar {
    position: absolute;
    width:105px;
    height:105px;
    display: block;
    margin:0 auto;
    left:67px;
  }

  #logo {
    left:53px;
    position: absolute;
    margin:20px auto 0 auto;
    height:30px;
    display: block;
    bottom:0;
  }
}

.adminButton {
  text-align: center;
  margin-top:30px;
  .iconfont {
    padding:10px;
    font-size: 20px;
  }
  a {
    color:#999;
    text-decoration: none;
    transition: color .2s;
    &:hover {
      color:rgb(120, 192, 252)
    }
  }
}