<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="all">
    <meta name="author" content="Cocbin">
    <meta name="Copyright" content="Cocbin">
    <meta name="Description" content="大家好,这里是cocbin的个人博客">
    <meta name="Keywords" content="blog,cocbin,cocbin个人博客">

    <title>Cocbin's blog</title>

    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/solarized_dark.min.css">

    <!-- fonts -->
    <link href='http://api.youziku.com/webfont/CSS/56dcea12f629d80a4029311d' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="/css/fontface.css">

    <link type = "text/css" rel="stylesheet" href = "/app.css">

    <script src = "/highlight.pack.js"></script>
    <script src="//cdn.bootcss.com/fetch/0.11.0/fetch.js"></script>
    <script>var duoshuoQuery = {short_name:"cocbinblog"};</script>

    <script src="http://static.duoshuo.com/embed.js"></script>
</head>
<body>
<div id = "react-main"><%- markup %></div>
<script>
    location.state = '<%- JSON.stringify(state) %>';
    location.state = JSON.parse(location.state);
</script>
<script src="http://localhost:3000/app.js"></script>
</body>
</html>
