.editBox {
  margin: 80px auto 0;
  width:288px;
  height:320px;
  background: #eee;
  border-radius: 5px;
  float: left;

  h3 {
    text-align: center;
    padding:10px;
    margin:10px;
    border-bottom:1px solid #ddd;
  }

  .iconfont {
    float: left;
    font-size: 20px;
    width:40px;
    height:40px;
    text-align: center;
    line-height:40px;
    background: #ccc;
    margin-top: 8px;
    margin-left: 16px;
  }

  input[type = "text"] {
    display: block;
    width:200px;
    background: #ccc;
    outline:none;
    border:none;
    height:24px;
    padding:8px;
    float: left;
    margin-top: 8px;
  }

  input[type = "submit"],button {
    height:40px;
    width:256px;
    margin-top: 40px;
    background: #00b0e8;
    border:none;
    color: #fff;
    margin-left: 16px;
    outline:none;
    transition: background-color .2s;
    &:hover {
      background-color: #00c0f8;
    }
    &:active {
      background-color: #0086b3;
    }
  }
}