#adminArticleBox {
  width: 100%;
  height:100%;
}

.selector {
  position: relative;
  width:120px;
  height:40px;
  margin:8px;
  float: left;
  button {
    width:120px;
    height:40px;
    outline:none;
    border-radius: 4px;
    border:none;
    float: left;
    background: #eee;
    padding-right:30px;
    transition: background-color .2s;
    &:hover {
      background: #e2e2e2;
    }

    &:focus {
      background: #ccc;
    }
  }
}

.selectorTriangle {
  position: absolute;
  right:8px;
  bottom:16px;
  display: block;
  width:0;
  height: 0;
  border-top:5px solid #333;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.selectorOptions {
  position: absolute;
  top:40px;
  left:0;
  right:0;
  overflow-y: scroll;
  background-color: #fff;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
  height:0;
  opacity: 0;
  transition:opacity .5s;
  max-height: 280px;

  &.active {
    height:auto;
    opacity:1;
  }

  li {
    transition: background-color .2s;
    height:40px;
    text-align: center;
    line-height: 40px;
    padding-left:8px;
    padding-right:8px;
    border-bottom:1px solid #eee;
    cursor: pointer;
    .iconfont {
      float: left;
    }
    .content {
      float: right;
    }
    
    &:hover {
      background: #eee;
    }
  }
}

.writeButton {
  width:120px;
  height:40px;
  background: #00b0e8;
  outline:none;
  border:none;
  color:#fff;
  margin:8px;
  float: right;

  transition: background-color .2s;

  &:hover {
    background-color: #00c0f8;
  }
  &:active {
    background-color: #0086b3;
  }
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

table th {
  font-weight: bold;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}