#notificationBox {
  position: absolute;
  z-index:100;
  top:0;
  left:0;
  right:0;
  height:40px;
}

.notification {
  padding:8px;
  background: #fcf8e3;
  border-bottom:1px solid #faebcc;
  color: #8a6d3b;
  text-align:center;
  transition: margin-top .2s;
  margin-top:-42px;
  line-height: 24px;
}